@model M2M.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Movie</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Tags</div>
    <div class="display-field">@(Model.Tags == null ? "None" : Model.Tags.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MovieID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


